<div style="font-family:Trebuchet MS;font-weight:bold;font-size:20px;color:#1d485f;">HEY! a new thing!</div><br />

<b style="font-family:Trebuchet MS;font-size:12px;color:#537ea9;">Your name is</b><br />
<div style="padding:10px;font-family:Trebuchet MS;font-size:12px;color:#537ea9;">{to_whom}</div>

<b style="font-family:Trebuchet MS;font-size:12px;color:#537ea9;">Today's date</b><br />
<div style="padding:10px;font-family:Trebuchet MS;font-size:12px;color:#537ea9;">{when}</div>

<b style="font-family:Trebuchet MS;font-size:12px;color:#537ea9;">Our local time</b><br />
<div style="padding:10px;font-family:Trebuchet MS;font-size:12px;color:#537ea9;">{time}</div>

<b style="font-family:Trebuchet MS;font-size:12px;color:#537ea9;">Your secret code!</b><br />
<div style="padding:10px;font-family:Trebuchet MS;font-size:12px;color:#537ea9;">{the_code}</div>